{% extends "base.html" %}

{% block content %}
  {% for spirit in spirits %}
    <div>
      Nazwa:{{ spirit.name }}<br>
      Kraj: {{ spirit.country }}<br>
      Pojemność butelki:{{ spirit.get_capacity_display }} ml<br>
      Pozostało do rozlania: {{ spirit.reserved }} ml<br>
      <img src=" {{ spirit.picture.url }}" width="100" height="100"><br><br>
      <form action={% url "spirit_details" spirit.id %}>
        <input type="submit" value="szczegóły "/></form>
      <br>
      <br>
      <br>
    </div>
  {% endfor %}

{% endblock %}