<html>
<head>
  <meta charset="utf-8">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"
</head>
<body>
<h1>Whisky Friends</h1>
<ul>
  {% block content %} {% endblock %}
</ul>
<footer>

  {% if request.user.is_authenticated %}
   <form action={% url "logout" %}>
      <button type="submit">Logout</button>
    </form>
    <p> Zalogowany jako: {{ request.user.username }}</p>

  {% else %}
    <p> Musisz być zalogowany aby korzystać z funkcji strony!</p>
    <form action={% url "login" %}>
      <button type="submit">Login</button>
    </form>
    <form action={% url "signup" %}>
      <button type="submit">Rejestracja</button>
    </form>


  {% endif %}
  <p> Data: {{ date }} </p>
  <p>Wersja: {{ version }} </p>
  <form action={% url "home"%}>
    <input type="submit" value="Home "/>
  </form></footer>
</body>
</html>