{% extends "base.html" %}

{% block content %}
  <img src=" {{ spirit.picture.url }}" width="500" height="500">
  <p>
  <h2>Nazwa: {{ spirit.name }}</h2><br>
  Pojemność butelki: {{ spirit.get_capacity_display }}<br>
  Kraj pochodzenia: {{ spirit.country }}<br>
  Cena za butelkę: {{ spirit.price }}zł<br>
  {{ spirit.description }}<br>
  Pozostało do rozlania:{{ spirit.reserved }}ml<br>
  </p>
  <br>
  <br>
  cena za 200ml:{{ spirit.price200 }}zł<br>
  cena za 100ml: {{ spirit.price100 }}zł<br>
  cena za 50ml: {{ spirit.price50 }}zł<br>
  <br>
  <p>
  <form action={% url "new_order" spirit.id %}>
    <input type="submit" value="Dołącz "/>
  </form>
  </p>
  <form action={% url "all_spirits" %}>
    <button type="submit">Inne zrzutki</button>
  </form>


  <p> Aktualne zamówienia:</p><br>
  {% for order in orders %}
    {{ order.user }}<br>
    {{ order.get_quantity_display }}ml<br>
  {% endfor %}

{% endblock %}